test/wsdl/strict/venere_hotels.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.venere.com/XHI"
                  xmlns:xhi="http://www.venere.com/XHI"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="XHI_HotelAvail" xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Define data types (import XHI schemas) -->
  <wsdl:types>
    <xs:schema>
      <xs:import namespace="http://www.venere.com/XHI"
                 schemaLocation="Venere_Extensions.xsd"/>
    </xs:schema>
    <xs:schema>
      <xs:import namespace="http://www.venere.com/XHI"
                 schemaLocation="XHI_HotelAvailRQ.xsd"/>
    </xs:schema>
    <xs:schema>
      <xs:import namespace="http://www.venere.com/XHI"
                 schemaLocation="XHI_HotelAvailRS.xsd"/>
    </xs:schema>
  </wsdl:types>

  <!-- Define request and response messages-->
  <wsdl:message name="XHI_Authentication">
    <wsdl:part name="XHI_HotelAvail_Auth" element="xhi:Authentication"/>
  </wsdl:message>
  <wsdl:message name="XHI_ManagementDetails">
    <wsdl:part name="XHI_HotelAvail_MgmDetails" element="xhi:ManagementDetails"/>
  </wsdl:message>
  <wsdl:message name="XHI_TransactionData">
    <wsdl:part name="XHI_HotelAvail_TransData" element="xhi:TransactionData"/>
  </wsdl:message>
  <wsdl:message name="XHI_HotelAvail_Request">
    <wsdl:part name="XHI_HotelAvail_Req" element="xhi:XHI_HotelAvailRQ"/>
  </wsdl:message>
  <wsdl:message name="XHI_HotelAvail_Response">
    <wsdl:part name="XHI_HotelAvail_Res" element="xhi:XHI_HotelAvailRS"/>
  </wsdl:message>

  <!-- Define operation and reference messages-->
  <wsdl:portType name="XHI_HotelAvail_PortType">
    <wsdl:operation name="XHI_HotelAvail_Request">
      <wsdl:input message="xhi:XHI_HotelAvail_Request"/>
      <wsdl:output message="xhi:XHI_HotelAvail_Response"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Define SOAP binding-->
  <wsdl:binding name="XHI_HotelAvail_Binding" type="xhi:XHI_HotelAvail_PortType">
    <!-- Use document style and not rpc-->
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="XHI_HotelAvail_Request">
      <!-- Use 'literal' to include XHI XML as-is-->
      <soap:operation soapAction="XHI_HotelAvail" style="document"/>
      <wsdl:input>
        <soap:header part="XHI_HotelAvail_Auth" message="xhi:XHI_Authentication" use="literal"/>
        <soap:header part="XHI_HotelAvail_MgmDetails" message="xhi:XHI_ManagementDetails" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header part="XHI_HotelAvail_TransData" message="xhi:XHI_TransactionData" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Define SOAP interface with previously declared binding-->
  <wsdl:service name="XHI_HotelAvail">
    <wsdl:port name="XHI_HotelAvail_Port" binding="xhi:XHI_HotelAvail_Binding">
      <soap:address location="https://b2b-uat.venere.com/xhi-1.0/services/XHI_HotelAvail.soap"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
